IS_PROD=False
DB_B2C_SERVICE_HOST=b2c_db
DB_B2C_SERVICE_PORT=5432
DB_B2C_SERVICE_NAME=b2c_service
DB_B2C_SERVICE_USER=b2c_user
DB_B2C_SERVICE_PASSWORD=b2c_pass
ECHO=False
CORS_ORIGINS=["*"]
CORS_METHODS=["*"]
CORS_HEADERS=["*"]
JWT_SECRET_KEY=your-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_pass
RABBITMQ_URL=amqp://user:pass@rabbitmq:5672/
SERVICE_KEY=internal-service-key
B2B_URL=http://b2b:8010
NGINX_URL=http://nginx_gateway
